<html>
    <head>

    </head>
    <body>
        <h1>Add a new user Finance and Stonks :</h1>
        <form method="post" action="/user">
          firstName: <input type="text" name="user[firstName]"><br>
           lastName: <input type="text" name="user[lastName]"><br>
            userName: <input type="text" name="user[userName]"><br>
            email: <input type="text" name="user[email]"><br>
            password: <input type="text" name="user[password]"><br>
            </select>><br>
            <input type="submit" value="Submit">
        </form>       
    </body>
</html>

