@import url('styles.css');

body {
    /* from https://cssgradient.io/ */
    background: var(--accent-color);
    background: linear-gradient(45deg, var(--accent-color) 20%, #009E60 75%, #157F1F 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-card {
    height: 75vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.login-form {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

.already {
    color: #1F75FE;
}