@import url('styles.css');

.landing-card {
    height: 75vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.login-form {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}