/* custom variables */
:root {
    /* colors */
    --accent-color: #9EE493;
    --light-color: #F5F5F5;
    --dark-color: #121212;

    /* card shadow */
    --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.5), 0.125em 0.125em 0.25em rgba(0,0,0,0.25);

    /* fonts/typography */
    --fs-title: 2.75rem;
    --fs-subtitle: 1.75rem;
    --fs-body: 1rem;
    --fw-bold: 950;
    --fw-reg: 400;
}

/* general stylings */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    /* default color scheme */
    color: var(--dark-color);
    background-color: var(--light-color);

    /* font */
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

/* general settings */
a {
    text-decoration: none;
    color: var(--dark-color);
}

.card {
    box-shadow: var(--shadow);
    border-radius: 2.5rem;
}

/* typography */
.section-text.section-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}

.section-text.section-subtitle {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-reg);
}

.section-text.section-body {
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

/* buttons */
.btn-login .btn-signup {
    font-weight: var(--fw-bold);
}

.btn-login {
    background-color: var(--accent-color);
}

.btn-login:hover {
    background-color: #81D88A;
}

.btn-signup {
    background-color: #DEDEDE;
    color: var(--dark-color);
}

.btn-signup:hover {
    background-color: #D3D3D3;
}

nav, footer {
    /* from https://cssgradient.io/ */
    background: var(--accent-color);
    background: linear-gradient(45deg, var(--accent-color) 20%, #009E60 75%, #157F1F 100%);
}

nav {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

footer {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

nav li.nav-item {
    font-size: calc(var(--fs-body) + 0.05rem);
}

nav li.nav-item a {
    text-decoration: none;
    transition: font-size 0.3s ease;
}

nav li.nav-item a.active {
    font-weight: var(--fw-bold);
    border-bottom: solid var(--dark-color);
}

nav li.nav-item a:hover {
    text-decoration: none;
    color: var(--dark-color);
    font-size: calc(var(--fs-body) + 0.175rem);
}